<DOCTYPE! html5>
<html>
<title>Inventory List</title>
<script>

</script>
<body>
<h1 style="color:blue; font-size:33px;"> Roan Inventory</h1>
<form method="POST">
<label>Name of Item:</label>
	<input bold type="text" id="newEntry1" item="newEntry" placeholder="what is the item?"/>&nbsp
	<input bold type="text" id="newPlace1" name="newPlace1" placeholder="sa tindahan&#063"/>&nbsp
<label>Description:<label>
	<input bold type="text" id="newEntry2" item="newEntry2" placeholder="Another Item&#063"/>&nbsp
	<input bold type="text" id="newPlace2" name="newPlace2" placeholder="sa tindahan&#063"/>&nbsp
<input type="submit" id="btnConfirm" value="Confirm"/><br><br>
{% csrf_token %}
</form>
<table id="idListTable" name='idListTable'>
<tr>
<td>1: {{ newPerson }}</td>
<td>in</td>
<td>{{ newPlace }}</td>
</tr>
</table>
</body>
</html>
