<html>
<title>Inventory List</title>
<h1 style="color:blue; font-size:33px;"> Roan Inventory</h1>
<input bold type="text" id="newEntry1" item="Entry1" placeholder="what is the item&#063">&nbsp<input bold type="text" id="newPlace1" name="place1" placeholder="sa tindahan&#063">&nbsp
<input type="submit" value="Confirm"><br><br>
<input bold type="text" id="newEntry2" item="Entry2" placeholder="Another Item&#063">&nbsp
<input bold type="text" id="newEntry2" name="Entry2" placeholder="sa tindahan&#063">&nbsp<input type="submit" value="Confirm"
</html>
